@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* 
MAIN COLOR: #087f5b
SHADE COLOR: #02261b
TINT COLOR: #b5d9ce
BACKGROUND COLOR : #e6f2ef
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1;
  font-size: 1.6rem;
  color: #02261b;
  overflow-x: hidden;
}

.header {
  height: 6rem;
  padding: 0 3.2rem;
  background-color: #e6f2ef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 5;
}

.header.intersect {
  background-color: #087f5b !important;
}

.main-nav-link--intersect {
  color: #e6f2ef;
}

.heading__secondary {
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #087f5b;
  border-bottom: 2px solid #087f5b;
  display: inline-block;
  padding-bottom: 0.8rem;
  margin-bottom: 3.2rem;
}

.heading__tertiary {
  font-size: 2rem;
}

.logo {
  width: 5rem;
}

.logo2 {
  width: 5rem;
}

.logo.intersect {
  width: 5rem;
  display: none;
}

.logo2.intersect {
  width: 5rem;
  display: none;
}

.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__header img {
  width: 4.8rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #02261b;
  font-weight: 400;
  font-size: 2rem;
  transition: all 0.3s;
}
.main-nav-link.intersect:link,
.main-nav-link.intersect:visited {
  color: #e6f2ef;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #52a58c;
}

.main-nav-link.intersect:hover,
.main-nav-link.intersect:active {
  color: #02261b;
}

.section__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6f2ef;
  padding: 3.6rem 0 9.6rem 0;
  height: 100vh;
}

.hero {
  padding: 4.8rem 3.2rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 130rem;
}

.hero img {
  width: 64rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  /* border-radius: 9px; */

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn--hero {
  background-color: #087f5b;
  /* border-radius: 200px !important; */
  color: #e6f2ef;
}

.btn--hero:hover {
  background-color: #39997c;
  /* color: #02261b; */
}

.section__products {
  padding: 9.6rem 0;
}

.categories {
  padding: 0 3.2rem 9.6rem 3.2rem !important;
  margin: 0 auto;
  max-width: 130rem;
}

.categories__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.container__img {
  width: 22rem;
  height: 22rem;
  /* border: 2px solid red; */
  overflow: hidden;
  margin-bottom: 2.4rem;
}

.category__img {
  width: 100%;
  height: 100%;
  margin-bottom: 1.8rem;
  transition: all 0.3s;
}

.category__img:hover {
  transform: scale(1.2);
}

.category__desc {
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.products {
  padding: 0 3.2rem;
  margin: 0 auto;
  max-width: 130rem;
}

.sort__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
  margin-bottom: 2.4rem;
}

.sort__title {
  margin-bottom: 1.2rem;
}

.icon__sort {
  font-size: 2.4rem;
  color: #087f5b;
  cursor: pointer;
}

.products__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.2rem;
  row-gap: 8rem;
}

.product__card-- {
  box-shadow: 0 20px 30px 0 rgb(0 0 0 / 7%);
  width: 22rem;
  position: relative;
  overflow: hidden;
}
.product__card--best {
  box-shadow: 0 20px 30px 0 rgb(0 0 0 / 7%);
  width: 22rem;
  position: relative;
  overflow: hidden;
}

.product__card--best::after {
  content: 'best value';
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.4rem;
  display: inline;
  position: absolute;
  background-color: #ffd43b;
  top: 7%;
  right: -17%;
  padding: 0.4rem 3rem;
  transform: rotate(45deg);
}

.product__desc {
  padding: 0.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.2rem;
}

.product__title {
  margin-bottom: 1.2rem;
}

.icon {
  color: #087f5b;
  font-size: 2.4rem;
}

.product__rate {
  font-size: 1.4rem;
  margin-left: 3px;
}

.img__container {
  width: 100%;
  height: 22rem;
}

.product__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 1.8rem;
  cursor: pointer;
}

.icon-cart {
  color: white;
  font-size: 2.4rem;
}

.product__btn {
  color: white;
  border: none;
  background-color: #087f5b;
  /* background-color: transparent; */
  cursor: pointer;
  /* width: 50%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.8rem;
}

.product__btn:hover {
  background-color: #39997c;
}

.product__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.section__about {
  padding: 9.6rem 0;
}

.about {
  padding: 0 3.2rem;
  margin: 0 auto;
  max-width: 130rem;
}

.about__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.about__flex img,
.about__flex p {
  flex: 1;
}

.about__flex img {
  width: 16rem;
  height: 36rem;
  object-fit: cover;
  object-position: top;
}

.about__flex p {
  align-self: flex-start;
  letter-spacing: 1.2px;
  line-height: 2;
}

footer {
  height: 3.2rem;
  background-color: #087f5b;
  color: #e6f2ef;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  padding: 3.2rem 0;
}

.aside__section {
  padding: 0 3.2rem;
  margin: 0 auto;
  max-width: 130rem;
}

.container__flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3.2rem;
}

.aside__img {
  width: 12rem;
  border-radius: 50%;
  object-fit: contain;
}

.aside__desc {
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 2;
}

/* MOBILE */

.btn__menu {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.btn__menu i {
  font-size: 2.4rem;
  color: #087f5b;
  cursor: pointer;
}

.icon__nav.white {
  color: white;
}

.icon__nav.close {
  display: none;
  color: white;
}

/* --------------------------- */

@media screen and (max-width: 1000px) {
  .categories__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 4.6rem;
  }

  .products__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.2rem;
    row-gap: 4.6rem;
  }
}

@media screen and (max-width: 700px) {
  .categories__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 4.6rem;
  }

  .products__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.2rem;
    row-gap: 4.6rem;
  }

  .btn__menu {
    display: block;
    z-index: 99;
  }

  nav {
    background-color: #087f5b;
    position: absolute;
    width: 100%;
    height: 100vh;
    /* position: absolute; */
    top: 0;
    left: 0;
    display: flex;
    transform: translateX(100%);
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
    cursor: pointer;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
    color: #e6f2ef;
  }

  .nav-open nav {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }

  .nav-open .icon__nav.close {
    display: block;
  }

  .nav-open .icon__nav.menu {
    display: none;
  }

  .about__flex {
    flex-direction: column;
  }

  .about__flex img {
    width: 100%;
  }

  .container__flex {
    flex-direction: column;
  }

  .hero img {
    width: 48rem;
  }
}

@media screen and (max-width: 500px) {
  /* html {
    font-size: %;
    scroll-behavior: smooth;
    overflow-x: hidden;
  } */

  .products__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    /* column-gap: 1.2rem;
    row-gap: 8rem; */
  }

  .product__card-- {
    box-shadow: 0 20px 30px 0 rgb(0 0 0 / 7%);
    width: 22rem;
    position: relative;
    overflow: hidden;
  }
  .product__card--best {
    box-shadow: 0 20px 30px 0 rgb(0 0 0 / 7%);
    width: 22rem;
    position: relative;
    overflow: hidden;
  }

  .product__card--best::after {
    content: 'best value';
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.4rem;
    display: inline;
    position: absolute;
    background-color: #ffd43b;
    top: 7%;
    right: -17%;
    padding: 0.4rem 3rem;
    transform: rotate(45deg);
  }

  .product__desc {
    padding: 0.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.2rem;
  }

  .product__title {
    margin-bottom: 1.2rem;
  }

  .icon {
    color: #087f5b;
    font-size: 2.4rem;
  }

  .categories__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .hero img {
    width: 44rem;
  }
}
